<div class="dashboard row">
    <div class="col-md-6 col-lg-6 col-xxxl-6">
        <nb-card>
            <nb-card-header>Informacje o zgłoszeniu</nb-card-header>
            <nb-card-body>
                <strong>Dane zgłaszającego: </strong>
                <span>Jan Kowalski</span>
                <hr>
                <strong>Rodzaj dostosowania: </strong>
                <span>Wózek inwalidzki</span>
                <hr>
                <strong>Komentarz: </strong>
                <span> Napoleon, człek mądry a nic to mówiąc, że okolica obfita we łzach i kobiety żniwo oglądaj pod lasem zwaliska.  Kościuszko w grzeczności. a młodzież lepsza, ale myśl twarz od chmielu tyki w języku strzelecki dzik, niedźwiedź, łoś, wilk zwany. </span>
                <hr>
                <strong>Ocena: </strong>
                <div>
                    <div class="col-md-2 wrapped">
                        <div class="mark green">2</div>
                    </div>
                </div>
                <hr>
                <label for="answer"></label>
                <textarea rows="5" nbInput fullWidth shape="round" placeholder="Informacje o zgłoszeniu"
                          id="answer"></textarea>
                <button nbButton fullWidth status="primary">Wyślij odpowiedź</button>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-6 col-lg-6 col-xxxl-6">
        <nb-card>
            <nb-card-header>Lokalizacja</nb-card-header>
            <nb-card-body>
                <div leaflet [leafletOptions]="options"></div>
            </nb-card-body>
        </nb-card>
    </div>
</div>
