######################
# Web
######################
Flask
coloredlogs
requests
flask-restplus

######################
# Utils
######################
PyYAML

######################
# DB
######################
pymongo==3.9.0

